[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
pytest-mock = "*"
codecov = "*"
model-mommy = "*"

[packages]
requests = "*"
django = "*"
gunicorn = "*"
pytest-django = "*"
django-extensions = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
sentry-sdk = "*"
django-s3-folder-storage = "*"
whitenoise = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
collectfast = "*"
freeze = "*"
django-ordered-model = "*"

[requires]
python_version = "3.8"
