{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <div class="jumbotron card card-block">
                        <h2>Curso de Python com Luciano Ramalho</h2>
                        <h4 class="mt-4">Matrículas Abertas, Custo R$ 1.000,00</h4>
<!-- INICIO DO BOTAO PAGSEGURO -->
                        <a href="https://pag.ae/7WwDF-PQn/button" target="_blank" title="Pagar com PagSeguro">
                            <img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
                                 alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                        </a>
<!-- FIM DO BOTAO PAGSEGURO -->
<!--
                        <h4 class="mt-4">Entre na fila de Espera</h4>
<div id="mc_embed_signup">
    <form action="https://gmail.us2.list-manage.com/subscribe/post?u=46cbaa37d8a29ecef85eecece&amp;id=891f1b876a"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
          class="form-row align-items-center" target="_blank" novalidate>
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="mce-EMAIL">Email</label>
                    <input type="email" name="EMAIL" class="form-control required" id="mce-EMAIL"
                           placeholder="exemplo@email.com">
        </div>
        <div class="col-auto">
          <label class="sr-only" for="mce-FNAME">Seu Nome</label>
                    <input type="text" value="" name="FNAME" id="mce-FNAME" placeholder="Seu Nome"
                    class="form-control">
        </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_46cbaa37d8a29ecef85eecece_891f1b876a" tabindex="-1" value=""></div>

        <div class="col-auto">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
        </div>
      </div>
    </form>

</div>
-->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <h5 class="card-header">
                                    Mais detalhes sobre o Instrutor
                                </h5>
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        <div class="col-md-6">
                                            <img src="{% static 'img/lucianoramalho.jpeg' %}"
                                             alt="foto de Luciano Ramalho"
                                             class="img-thumbnail float-left mr-2 img-responsive">
                                        </div>
                                        <a href="https://shop.oreilly.com/product/0636920032519.do" target="_blank">
                                            Python Fluente</a>

                                        Luciano Ramalho é sócio e professor na Oficina Turing e
                                        <a href="https://www.python.pro.br">Python Pro</a>,
                                        Ajudou a criar a Associação Python Brasil e foi seu presidente. ... É membro da
                                        Python Software Foundation e um dos fundadores do Garoa Hacker Clube,
                                        o primeiro hackerspace do Brasil.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}
