{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Python Pro</title>

    <meta name="description" content="pagina do Curso python pro">
    <meta name="author" content="Esp. Paulo Tarciso">

    <link href="{% static 'img/favicon.gif' %}" rel="icon" type="image/gif">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'base:home' %}">Python Pro</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
      </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <div class="jumbotron card card-block">
                        <h2>Curso de Python com Luciano Ramalho</h2>
                        <h4 class="mt-4">Entre na fila de Espera</h4>

<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <form action="https://gmail.us2.list-manage.com/subscribe/post?u=46cbaa37d8a29ecef85eecece&amp;id=891f1b876a"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
          class="form-row align-items-center" target="_blank" novalidate>
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="mce-EMAIL">Email</label>
                    <input type="email" name="EMAIL" class="form-control required" id="mce-EMAIL"
                           placeholder="exemplo@email.com">
        </div>
        <div class="col-auto">
          <label class="sr-only" for="mce-FNAME">Seu Nome</label>
                    <input type="text" value="" name="FNAME" id="mce-FNAME" placeholder="Seu Nome"
                    class="form-control">
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_46cbaa37d8a29ecef85eecece_891f1b876a" tabindex="-1" value=""></div>

        <div class="col-auto">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
        </div>
      </div>
    </form>

</div>

<!--End mc_embed_signup-->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <h5 class="card-header">
                                    Mais detalhes sobre o Instrutor
                                </h5>
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        <div class="col-md-6">
                                            <img src="{% static 'img/lucianoramalho.jpeg' %}"
                                             alt="foto de Luciano Ramalho"
                                             class="img-thumbnail float-left mr-2 img-responsive">
                                        </div>
                                        <a href="https://shop.oreilly.com/product/0636920032519.do" target="_blank">
                                            Python Fluente</a>

                                        Luciano Ramalho é sócio e professor na Oficina Turing e
                                        <a href="https://www.python.pro.br">Python Pro</a>,
                                        Ajudou a criar a Associação Python Brasil e foi seu presidente. ... É membro da
                                        Python Software Foundation e um dos fundadores do Garoa Hacker Clube,
                                        o primeiro hackerspace do Brasil.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <footer class="main-footer mt-5 pt-4 text-right text-light">
        <div class="container">
            <div class="rows">
                <div class="col">
                    <h3>Entre em Contato:</h3>
                    <address>
                        +55 96 981404-4936
                        <br>
                        <a href="mailto:bentessantostarciso@gmail.com"
                           class='text-light'>bentessantostarciso@gmail.com</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="rights pb-4 text-center">
            <div class="container">
                <div class="rows">
                    <div class="col">
                        {% now 'Y' %} clicknacidade.com - Todos os direitos reservados
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>